<form #employeeForm="ngForm" (ngSubmit) = "saveEmployee()" >
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{panelTitle}}
			</h3>
		</div>


		<div class="panel-body">
			<div class="form-group" [class.has-error]= "name.invalid && name.touched" [class.has-success] ="name.valid">
				<label for="name" class="control-label">Full name</label>
				<input id="name" name="name" [(ngModel)]="employee.name" type="text" class="form-control" #name="ngModel" required>
				<span class="help-block" *ngIf="name.invalid  && name.touched">
				Name is required.</span>
			</div>

			<div class="form-group" [class.has-error]="email.invalid">
				<label for="email" class="control-label">Email</label>
				<input id="email" type="text" name="email" [(ngModel)] = "employee.email" class="form-control" #email="ngModel" [required]="contactPreference.value == 'Email'" 
				pattern="^[a-z A-Z 0-9_.+-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9-.]+$">
				<span class="help-block" *ngIf="email.errors?.required">
					Email is required
				</span>
				<span class="help-block" *ngIf="email.errors?.pattern">
					Email is invalid
				</span>
			</div>
			<div class="form-group" [class.has-error] = "phoneNumber.invalid">
				<label for="phoneNumber" class="control-label">Phone Number</label>
				<input id="phoneNumber" type="text" name="phoneNumber" [(ngModel)] = "employee.phoneNumber" [required] = "contactPreference.value == 'Phone'" 
				class="form-control" #phoneNumber = "ngModel">
				<span class="help-block" *ngIf = "phoneNumber.invalid"> Phone number is required</span>
			</div>

			<div class="form-group" [class.has-error] = "contactPreference.touched && contactPreference.invalid" [class.has-success] = "contactPreference.valid">
				<label class="control-label">Contact Preference</label>
				<div class="form-control">
					<label class="radio-inline">
						<input type="radio" value="Email" name="contactPreference" [(ngModel)] ="employee.contactPreference" required #contactPreference="ngModel">Email
					</label>
					<label class="radio-inline">
						<input type="radio" value="Phone" name="contactPreference" [(ngModel)] ="employee.contactPreference" required #contactPreference="ngModel">Phone number
					</label>
				</div>
				<span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contact preference is required</span>	
			</div>

			<div class="form-group" [class.has-error] = "gender.touched && gender.invalid" [class.has-success] = "gender.valid">
				<label class="control-label">Gender</label>
				<div class="form-control">
					<label class="radio-inline">
						<input type="radio" value="Male" name="gender" [(ngModel)]="employee.gender"
						required #gender=ngModel>Male
					</label>
					<label class="radio-inline">
						<input type="radio" value="Female" name="gender" [(ngModel)]="employee.gender"
						required #gender=ngModel>Female
					</label>
				</div>
			<span class="help-block" *ngIf="gender.invalid && gender.touched">Gender is required</span>
			</div>

			<div class="form-group">
				<div class="form-control">
					<label class="checkbox-inline">
						<input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" #isActive = "ngModel" [required] = "employee.isActive == null" >Is Active
					</label>
				</div>
			</div>

			<div class="form-group" [class.has-error] = "department.touched && department.invalid">
				<label for="department" class="control-label">
					Department
				</label>
				<select id="department" name="department" [(ngModel)] = "employee.department" 
				appSelectorValidator = "select" #department="ngModel" class="form-control">
					<option value ="select">Select department</option>
					<option *ngFor="let dept of departments"[value] = "dept.id">
						{{dept.name}}
					</option>
				</select>
				<span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
					Department is required
				</span>
			</div>

			<div class="row">
				<div class="form-group col-md-5">
					<label for="dateOfBirth">Date of birth</label>
					<input id="dateOfBirth" type="text" name="dateOfBirth" [(ngModel)] = "employee.dateOfBirth" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" placement="right">
				</div>
			</div>

			<div class="form-group">
				<label for="photoPath">Photo Path</label>
				<input id="photoPath" type="text" name="photoPath" [(ngModel)] = "employee.photoPath" 
				class="form-control">
			</div>

			<div class="form-group">
				<img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto && employee.photoPath !== '' && employee.photoPath !== null">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" (click) = "togglePhotoPreview()" type="button" *ngIf="employee.photoPath !== '' && employee.photoPath !== null">
					{{previewPhoto?"Hide": "Show"}} Preview
				</button>
			</div>
		</div>

		<div class="panel-footer">
			<button type="submit" class="btn btn-primary" [disabled] = "employeeForm.invalid">
				Save
			</button>
		</div>

	</div>	
</form>
Angular Generated Form Model: {{employeeForm.value | json}}
<br>
<br>
Our Employee Model: {{employee | json}}